<div class="content">
  <div class="left-side">
    <div>
    <%= link_to '＜詳細＞', tweet_path(tweet.id), method: :get, class: 'btn1' %>
    </div>
    <% if user_signed_in? && current_user.id == tweet.user_id %>
    <div>
      <%= link_to '＜編集＞', edit_tweet_path(tweet.id), method: :get ,class: 'btn1', data: {confirm: "編集しますか？"}%>
    </div>
    <div>
      <%= link_to '＜削除＞', tweet_path(tweet.id), method: :delete ,class: 'btn1', data: {confirm: "本当に削除しますか？"}%>
    </div>
    <% end %>
  </div>
  <div class="center">
    <%= image_tag tweet.image.variant(resize:'500x500'), class: 'tweet-image' if tweet.image.attached? %>
  </div>
  <div class="right-side">
    <div class="right-side-nav">
      <span>投稿者：</span>
      <a href="/users/<%= tweet.user.id %>" class="btn1"><%= tweet.user.nickname %></a>さん
    </div>
    <div class="right-side-nav">
      <span>説明文：</span>「<%= tweet.text %>」
    </div>
  </div>
</div>