<div class="contents">
  <div class="search">
    <%= form_with(url: search_tweets_path, local: true, method: :get, class: "search-form") do |form| %>
      <%= form.text_field :keyword, placeholder: "投稿を検索する", class: "search-input" %>
      <%= form.submit "検索", class: "search-btn" %>
    <% end %>
  </div>
  <%= link_to image_tag("iOS の画像.jpg", class: "logo-image2"), number_tweets_path %>
  <div class="scroll">
    <span><h3>トップページ</h3></span>
  </div>
  <%= will_paginate @tweets, :previous_label => ' &lt 前へ', :next_label => '次へ &gt' %>
  <% @tweets.each do |tweet| %>
    <%= render partial: "tweet", locals: { tweet: tweet } %>
  <% end %>
</div>