<div class="scroll">
  <span><h3>＜学習ページ＞ 数字のボタンを押すと該当する画像に飛びます。右にスクロールもできます</h3></span>
</div>

<div class="number-contents">
  <div class="number-content">
    <div class="number-content-text">
      <h3>日本の漢字</h3><h3>「一」から「十」まで覚えよう</h3>
    </div>
    <div class="nav-lists">
      <a class ="nav-list" href="#image1">1</a>
      <a class ="nav-list" href="#image2">2</a>
      <a class ="nav-list" href="#image3">3</a>
      <a class ="nav-list" href="#image4">4</a>
      <a class ="nav-list" href="#image5">5</a>
      <a class ="nav-list" href="#image6">6</a>
      <a class ="nav-list" href="#image7">7</a>
      <a class ="nav-list" href="#image8">8</a>
      <a class ="nav-list" href="#image9">9</a>
      <a class ="nav-list" href="#image10">10</a>
    </div>
    <div class="number-content-image">
      <div><%= image_tag "001.gif" ,class: "logo1" ,id: "image1" %></div>
      <div><%= image_tag "002.gif" ,class: "logo1" ,id: "image2" %></div>
      <div><%= image_tag "003.gif" ,class: "logo1" ,id: "image3" %></div>
      <div><%= image_tag "004.gif" ,class: "logo1" ,id: "image4" %></div>
      <div><%= image_tag "005.gif" ,class: "logo1" ,id: "image5" %></div>
      <div><%= image_tag "006.gif" ,class: "logo1" ,id: "image6" %></div>
      <div><%= image_tag "007.gif" ,class: "logo1" ,id: "image7" %></div>
      <div><%= image_tag "008.gif" ,class: "logo1" ,id: "image8" %></div>
      <div><%= image_tag "009.gif" ,class: "logo1" ,id: "image9" %></div>
      <div><%= image_tag "010.gif" ,class: "logo1" ,id: "image10" %></div>
    </div>
  </div>
  <div class="number-content">
    <div class="number-content-text">
      <h3>中国式</h3><h3>1から10までのジェスチャーを覚えよう</h3>
    </div>
    <div class="nav-lists">
      <a class ="nav-list" href="#image11">1</a>
      <a class ="nav-list" href="#image12">2</a>
      <a class ="nav-list" href="#image13">3</a>
      <a class ="nav-list" href="#image14">4</a>
      <a class ="nav-list" href="#image15">5</a>
      <a class ="nav-list" href="#image16">6</a>
      <a class ="nav-list" href="#image17">7</a>
      <a class ="nav-list" href="#image18">8</a>
      <a class ="nav-list" href="#image19">9</a>
      <a class ="nav-list" href="#image20">10</a>
    </div>
    <div class="number-content-image">
      <div><%= image_tag "101.jpg" ,class: "logo2" ,id: "image11" %></div>
      <div><%= image_tag "102.jpg" ,class: "logo2" ,id: "image12" %></div>
      <div><%= image_tag "103.jpg" ,class: "logo2" ,id: "image13" %></div>
      <div><%= image_tag "104.jpg" ,class: "logo2" ,id: "image14" %></div>
      <div><%= image_tag "105.jpg" ,class: "logo2" ,id: "image15" %></div>
      <div><%= image_tag "106.jpg" ,class: "logo2" ,id: "image16" %></div>
      <div><%= image_tag "107.jpg" ,class: "logo2" ,id: "image17" %></div>
      <div><%= image_tag "108.jpg" ,class: "logo2" ,id: "image18" %></div>
      <div><%= image_tag "109.jpg" ,class: "logo2" ,id: "image19" %></div>
      <div><%= image_tag "110.jpg" ,class: "logo2" ,id: "image20" %></div>
    </div>
  </div>
  <div class="number-content">
    <div class="number-content-text">
      <h3>台湾式</h3><h3>1から10までのジェスチャーを覚えよう</h3>
    </div>
    <div class="nav-lists">
      <a class ="nav-list" href="#image21">1</a>
      <a class ="nav-list" href="#image22">2</a>
      <a class ="nav-list" href="#image23">3</a>
      <a class ="nav-list" href="#image24">4</a>
      <a class ="nav-list" href="#image25">5</a>
      <a class ="nav-list" href="#image26">6</a>
      <a class ="nav-list" href="#image27">7</a>
      <a class ="nav-list" href="#image28">8</a>
      <a class ="nav-list" href="#image29">9</a>
      <a class ="nav-list" href="#image30">10</a>
    </div>
    <div class="number-content-image">
      <div><%= image_tag "401.jpeg",class: "logo3" ,id: "image21" %></div>
      <div><%= image_tag "402.jpg" ,class: "logo3" ,id: "image22" %></div>
      <div><%= image_tag "403.jpg" ,class: "logo3" ,id: "image23" %></div>
      <div><%= image_tag "404.jpg" ,class: "logo3" ,id: "image24" %></div>
      <div><%= image_tag "405.jpg" ,class: "logo3" ,id: "image25" %></div>
      <div><%= image_tag "406.jpg" ,class: "logo3" ,id: "image26" %></div>
      <div><%= image_tag "407.jpg" ,class: "logo3" ,id: "image27" %></div>
      <div><%= image_tag "408.jpg" ,class: "logo3" ,id: "image28" %></div>
      <div><%= image_tag "409.jpg" ,class: "logo3" ,id: "image29" %></div>
      <div><%= image_tag "410.jpg" ,class: "logo3" ,id: "image30" %></div>
    </div>
  </div>
</div>