<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <!-- レスポンシブデザインのviewportの設定 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NumberApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- FontAwesomeを読み込むlinkタグを追加 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>
    <header>
      <div class="header-">
        <%= link_to "投稿一覧ページ", tweets_path, class: "post" %>
        <%= link_to "学習ページ", number_tweets_path, class: "post" %>
      </div>
      <% if user_signed_in? %>
        こんにちは<%= current_user.nickname %>さん
        <div class="header-">
          <%= link_to "マイページ", "/users/#{current_user.id}", class: "post"%>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "post" %>
          <%= link_to "投稿する", new_tweet_path, class: "post" %>
        </div>
      <% else %>
        <div class="header-">
          <%= link_to 'ゲストログイン', users_guest_sign_in_path, method: :post, class: "post" %>
        </div>
        <div class="header-">
          <%= link_to "ログイン", new_user_session_path, class: "post" %>
          <%= link_to "新規登録", new_user_registration_path, class: "post" %>
        </div>
      <% end %>
    </header>
    <%= breadcrumbs separator: " &rsaquo; " %>
    <%= yield %>
    <footer>
      <h1>NumberApp</h1>
    </footer>
  </body>
</html>